<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
       <h1>MediaGrabber</h1>
   </header>

<nav>
    <ul>
        <!-- <li><a href="#tab1">Instagram / facebook video download</a></li> -->
        <li ><a style="background-color: brown;" href="/">Home </a></li>
        <li><a href="/pdf2doc">PDF TO DOCS </a></li>
        <!-- <li><a href="#tab3">VIDEO TO MP3</a></li> -->
    </ul>
</nav>

<main>
  
        <h2>Download YouTube Videos</h2>
       
        <form action="/download" method="post">
            <div class="form">
            <div>
            <!-- <label for="url">Enter the YouTube video URL:</label> -->
            <input type="text" placeholder="Enter the YouTube video URL" class="url" id="url" name="url">
        </div>
        <div>
            <select name="quality" id="quality">
                <option value="high">Hightest quality</option>
                <option value="low">Lowest quality</option>
                <option value="mp3">MP3</option>
            </select>
            <button type="submit" class="download" value="submit">download</button>
        </div>
    </div>
        </form>
 
        <!-- <img class="img" src="{{ url_for('static', filename='images/bird.jpg') }}"  class="image"/> -->
   
   
</main>

<footer>
    <p>Copyright © 2023</p>
</footer>
</form>
</body>
</html>